In [105]:
import pandas as pd
from pyjstat import pyjstat
import requests
import matplotlib.pyplot as plt
import numpy as np

In [106]:
kveite_prices = pd.read_excel("data/Fersk_kveite.xlsx", skiprows=4)

In [107]:
salmon_prices = pd.read_excel("data/nasdaq.with.weight.xls", skiprows=1)

In [108]:
torsk_prices = pd.read_excel("data/Fersk_torsk.xlsx", skiprows=4)

In [184]:
torsk_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OMSETNING_ÅR            526 non-null    int64
 1   KalenderUkeBeskrivelse  526 non-null    int64
 2   -1,0 KG                 519 non-null    float64
 3   1,0-2,5 KG              526 non-null    float64
 4   2,5+ KG                 525 non-null    float64
 5   6,0+ KG                 524 non-null    float64
 6   IKKE OPPGITT            87 non-null     float64
 7   Totalsum                526 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 33.0 KB

In [109]:
#KPI månedlig fra SSB:
POST_URL = 'https://data.ssb.no/api/v0/no/table/05327/'

In [329]:
payload = {
  "query": [
    {
      "code": "Konsumgrp",
      "selection": {
        "filter": "item",
        "values": [
          "JA_TOTAL"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "item",
        "values": [
          "KPIJustIndMnd"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "item",
        "values": [
          "2013M03",
          "2013M04",
          "2013M05",
          "2013M06",
          "2013M07",
          "2013M08",
          "2013M09",
          "2013M10",
          "2013M11",
          "2013M12",
          "2014M01",
          "2014M02",
          "2014M03",
          "2014M04",
          "2014M05",
          "2014M06",
          "2014M07",
          "2014M08",
          "2014M09",
          "2014M10",
          "2014M11",
          "2014M12",
          "2015M01",
          "2015M02",
          "2015M03",
          "2015M04",
          "2015M05",
          "2015M06",
          "2015M07",
          "2015M08",
          "2015M09",
          "2015M10",
          "2015M11",
          "2015M12",
          "2016M01",
          "2016M02",
          "2016M03",
          "2016M04",
          "2016M05",
          "2016M06",
          "2016M07",
          "2016M08",
          "2016M09",
          "2016M10",
          "2016M11",
          "2016M12",
          "2017M01",
          "2017M02",
          "2017M03",
          "2017M04",
          "2017M05",
          "2017M06",
          "2017M07",
          "2017M08",
          "2017M09",
          "2017M10",
          "2017M11",
          "2017M12",
          "2018M01",
          "2018M02",
          "2018M03",
          "2018M04",
          "2018M05",
          "2018M06",
          "2018M07",
          "2018M08",
          "2018M09",
          "2018M10",
          "2018M11",
          "2018M12",
          "2019M01",
          "2019M02",
          "2019M03",
          "2019M04",
          "2019M05",
          "2019M06",
          "2019M07",
          "2019M08",
          "2019M09",
          "2019M10",
          "2019M11",
          "2019M12",
          "2020M01",
          "2020M02",
          "2020M03",
          "2020M04",
          "2020M05",
          "2020M06",
          "2020M07",
          "2020M08",
          "2020M09",
          "2020M10",
          "2020M11",
          "2020M12",
          "2021M01",
          "2021M02",
          "2021M03",
          "2021M04",
          "2021M05",
          "2021M06",
          "2021M07",
          "2021M08",
          "2021M09",
          "2021M10",
          "2021M11",
          "2021M12",
          "2022M01",
          "2022M02",
          "2022M03",
          "2022M04",
          "2022M05",
          "2022M06",
          "2022M07",
          "2022M08",
          "2022M09",
          "2022M10",
          "2022M11",
          "2022M12",
          "2023M01",
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [369]:
result = requests.post(POST_URL, json = payload)

In [385]:
dataset = pyjstat.Dataset.read(result.text)
KPI_JA = dataset.write('dataframe')

In [386]:
KPI_JA

,konsumgruppe,statistikkvariabel,måned,value
0,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2013M03,95.4
1,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2013M04,96.0
2,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2013M05,96.1
3,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2013M06,95.7
4,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2013M07,96.1
...,...,...,...,...
114,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2022M09,129.5
115,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2022M10,128.8
116,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2022M11,128.4
117,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2022M12,129.6
118,KPI-JA Totalindeks,"KPI-JA, KPI-JAE. KPI-JE og KPI-JEL (2015=100) ...",2023M01,129.8

In [387]:
KPI = KPI_JA.value.head(-1)
KPI = pd.DataFrame(data=KPI)
KPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   118 non-null    float64
dtypes: float64(1)
memory usage: 1.0 KB

In [388]:
KPI

     value
0     95.4
1     96.0
2     96.1
3     95.7
4     96.1
..     ...
113  127.2
114  129.5
115  128.8
116  128.4
117  129.6

[118 rows x 1 columns]

In [389]:
dato_kpi = pd.date_range(start = '2013-03-01', end = '2022-12-31', freq = "m")

In [390]:
KPI = KPI.set_index(dato_kpi)

In [391]:
KPI

            value
2013-03-31   95.4
2013-04-30   96.0
2013-05-31   96.1
2013-06-30   95.7
2013-07-31   96.1
...           ...
2022-08-31  127.2
2022-09-30  129.5
2022-10-31  128.8
2022-11-30  128.4
2022-12-31  129.6

[118 rows x 1 columns]

In [392]:
start_date = KPI.index.min() - pd.DateOffset(day=1)
end_date = KPI.index.max() + pd.DateOffset(day=31)

In [393]:
dates = pd.date_range(start_date, end_date, freq='w')
dates.name = 'date'
KPI = KPI.reindex(dates, method='bfill')

In [394]:
KPI_mean = KPI.expanding().mean()

In [395]:
KPI

            value
date
2013-03-03   95.4
2013-03-10   95.4
2013-03-17   95.4
2013-03-24   95.4
2013-03-31   95.4
...           ...
2022-11-27  128.4
2022-12-04  129.6
2022-12-11  129.6
2022-12-18  129.6
2022-12-25  129.6

[513 rows x 1 columns]

In [396]:
KPI.columns

Index(['value'], dtype='object')

In [397]:
KPI = KPI.rolling(window=4).mean()

In [398]:
KPI

            value
date
2013-03-03    NaN
2013-03-10    NaN
2013-03-17    NaN
2013-03-24   95.4
2013-03-31   95.4
...           ...
2022-11-27  128.4
2022-12-04  128.7
2022-12-11  129.0
2022-12-18  129.3
2022-12-25  129.6

[513 rows x 1 columns]

In [399]:
KPI = KPI.tail(-4)

In [400]:
KPI

             value
date
2013-03-31   95.40
2013-04-07   95.55
2013-04-14   95.70
2013-04-21   95.85
2013-04-28   96.00
...            ...
2022-11-27  128.40
2022-12-04  128.70
2022-12-11  129.00
2022-12-18  129.30
2022-12-25  129.60

[509 rows x 1 columns]