In [1]:
import pandas
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# Import packages for tensorflow
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn import metrics
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc

from sklearn.model_selection import train_test_split

from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, LSTM, LeakyReLU, BatchNormalization, Conv1D, MaxPooling1D, Activation
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.callbacks import ModelCheckpoint
plt.style.use('fivethirtyeight')
plt.ioff()

In [12]:
tf_data = pandas.read_csv('Figures/Neural networks/RMSE_Tensorflow.csv', index_col=0, usecols=range(1,10))

In [13]:
tf_data

,Batch Size,Epochs,Model Name,Model alternative,Optimizer,Time steps,Uni/Multi,RMSE
Run,,,,,,,,
1,1,10,Model 1,1,adam,1,Univariate,37.942711
2,1,10,Model 2,1,adam,1,Multivariate,31.080595
3,1,40,Model 3,1,adam,1,Univariate,31.504920
4,1,40,Model 4,1,adam,1,Multivariate,27.286080
5,1,100,Model 5,1,adam,1,Univariate,33.270839
...,...,...,...,...,...,...,...,...
284,104,10,Model 284,1,nadam,104,Multivariate,24.205372
285,104,40,Model 285,1,nadam,104,Univariate,38.613904
286,104,40,Model 286,1,nadam,104,Multivariate,17.215180
287,104,100,Model 287,1,nadam,104,Univariate,32.710079
288,104,100,Model 288,1,nadam,104,Multivariate,23.941750

In [15]:
tf_data.sort_values(by=['RMSE']).head(10)

,Batch Size,Epochs,Model Name,Model alternative,Optimizer,Time steps,Uni/Multi,RMSE
Run,,,,,,,,
186,26,100,Model 186,1,nadam,52,Multivariate,14.870351
72,2,100,Model 72,1,adam,104,Multivariate,16.107470
286,104,40,Model 286,1,nadam,104,Multivariate,17.215180
46,1,40,Model 46,1,nadam,104,Multivariate,17.250147
202,52,40,Model 202,1,adam,4,Multivariate,18.637282
124,13,40,Model 124,1,nadam,1,Multivariate,18.896268
130,13,40,Model 130,1,nadam,4,Multivariate,18.949729
52,2,40,Model 52,1,adam,1,Multivariate,19.147302
268,104,40,Model 268,1,nadam,1,Multivariate,19.438253
156,26,100,Model 156,1,adam,4,Multivariate,19.633274